<body style="background-color:#000000;">
<br>
<div align="center">
  <h1 style="color: white; font-family: Comic Sans MS, cursive, sans-serif; font-size: 80px; font-weight: bold;">
    Ele vem ai...
  </h1>
</div>
<br>
<div align="center">
  <%= image_tag "morata.jpg", {height: 445} %>
</div>
</body>